.mat-mdc-card {
  margin-bottom: 20px;
}

.mat-column-actions {
  width: 120px;
}

.mat-column-status {
  width: 150px;
}

.mat-column-scheduledDate {
  width: 200px;
}

.icon-18 {
  width: 18px;
  height: 18px;
} 